{#    <script>#}
{#        const TheWidth = window.innerWidth;#}
{#        const TheHeight = window.innerHeight;#}
{##}
{#        Array.from(document.getElementsByClassName("demo")).forEach(function (element) {#}
{#            element.setAttribute("width", TheWidth.toString());#}
{#            element.setAttribute("height", TheHeight.toString());#}
{#        });#}
{##}
{##}
{#        Array.from(document.getElementsByTagName("circle")).forEach(function (element) {#}
{#            element.setAttribute("cx", Math.floor(Math.random() * TheWidth-10) + 10 );#}
{#            element.setAttribute("cy", Math.floor(Math.random() * TheHeight-10) + 10 );#}
{#        })#}
{##}
{#    </script>#}





